<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/main_css/style.css">
    <link rel="stylesheet" href="assets/slick/slick-theme.css">
    <link rel="stylesheet" href="assets/slick/slick.css">
    <link rel="stylesheet" href="assets/fontawesome/all.min.css">
    <link rel="stylesheet" href="assets/main_css/dropify.min.css">
    <link rel="stylesheet" href="assets/main_css/responsive.css">
</head>
<body>
    <header class="navbar">
        <nav class="container">
            <div class="logo">
                <picture>
                    <img src="assets/images/logo-black.png.png" alt="logo-black-tee-space" width="180px">
                </picture>
            </div>
            <div class="nav_item">
                <ul>
                    <li class="nav-active"><a href="index.html">Home</a></li>
                    <li>TeeSpace
                        <i class="fa-solid fa-chevron-down"></i>
                        <div class="dropdown">
                            <ul>
                                <li><a href="our_team.html">Our Team</a></li>
                                <li><a href="service.html">Services</a></li>
                                <li><a href="about.html">About</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="shop.html">Shop<i class="fa-solid fa-chevron-down"></i></a>
                        <div class="dropdown"></div></li>
                    <li><a href="blog.html">Blog<i class="fa-solid fa-chevron-down"></i></a> </li>
                    <li>Pages<i class="fa-solid fa-chevron-down"></i>
                        <div class="dropdown">
                            <ul>
                                <li><a href="product_detailes.html">Product Detailes</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>                
                <input class="search" type="checkbox" id="search" name="search"/>
                <label class="for-search" for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                <input class="search_bar" type="text" placeholder="What are you looking for?">
            </div>
            <div class="button">
                <div class="shop-btn">
                    <button class="bag"><i class="fa-solid fa-bag-shopping"></i></button>
                    <button class="top-btn">0</button>
                </div>
                <div class="hotline">
                    <h4>Hotline:</h4>
                    <h5>00 1900 8188</h5>
                </div>
                <div class="sign-up">
                    <button>Sign Up</button>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header section End -->
    <section>
        <div class="mini-breadcrumb">            
            <p><span style="color: #7E7E7E;">Home </span><img src="assets/images/element/__before.png" >About Us</p>
        </div>
    </section>
    <!-- Start Codding form here-->
    <section class="print__shirts about_print_shirt">
        <div class="container">            
            <div class="quarres">                
                <div class="content">
                    <button>Design your own</button>
                    <h2 class="headding">Create stunning print for your business<span class="bottom_color_bar"></span></h2>
                    <p>T-shirt Printing for Everyone. Get a headstart with free design
                        templates you can customize in a few clicks.</p>
                    <ul>
                        <li><span class="list active"><i class="fa-solid fa-check"></i></span><span>Top quality prints using the latest technology</span></li>
                        <li><span class="list "><i class="fa-solid fa-check"></i></span><span>Mix and match colors, sizes, and designs</span></li>
                        <li><span class="list "><i class="fa-solid fa-check"></i></span><span>Fast and free standard shipping</span></li>
                        <li><span class="list "><i class="fa-solid fa-check"></i></span><span>Get your order sent to your .</span></li>
                    </ul>
                    <button class="banner-btn">Custom T-shirt</button>
                </div>
                <div class="imgs">
                    <img class="pic_main" src="assets/images/service_page/banner-65.jpg.png" alt="">
                    <img class="sub_pic" src="assets/images/service_page/banner-66.jpg.png" alt="">
                </div>
            </div>
        </div>
        </section>
    <!-- quality__service section End -->
    <section class="print__shirts about_faqs">
    <div class="container">
        <button class="blue__btn">Fast and Quality Service</button>
        <h2>T-shirt printing made easy.</h2>
        <div class="quarres">
            <div class="imgs">
                <img class="pic_main" src="assets/images/service_page/banner-65.jpg.png" alt="">
                <img class="sub_pic" src="assets/images/service_page/banner-66.jpg.png" alt="">
            </div>
            <div class="faqs">
                <div class="faq_item faq_item_active">
                    <h4>Graphic Design Services<i class="fa-solid fa-angle-down"></i></h4>
                    <p>To make a T-shirt design, your first need to install specific graphic design software. Once you’ve done that, start your creation and make sure that your final design is at least 220 PPI so it won’t be pixelated when printed…</p>
                </div>
                <div class="faq_item">
                    <h4>Graphic Design Services <i class="fa-solid fa-angle-down"></i></h4>
                    <p>To make a T-shirt design, your first need to install specific graphic design software. Once you’ve done that, start your creation and make sure that your final design is at least 220 PPI so it won’t be pixelated when printed…</p>
                </div>
                <div class="faq_item">
                    <h4>Graphic Design Services<i class="fa-solid fa-angle-down"></i></h4>
                    <p>To make a T-shirt design, your first need to install specific graphic design software. Once you’ve done that, start your creation and make sure that your final design is at least 220 PPI so it won’t be pixelated when printed…</p>
                </div>
                <div class="faq_item">
                    <h4>Graphic Design Services<i class="fa-solid fa-angle-down"></i></h4>
                    <p>To make a T-shirt design, your first need to install specific graphic design software. Once you’ve done that, start your creation and make sure that your final design is at least 220 PPI so it won’t be pixelated when printed…</p>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- FAQ section End -->
    <section class="team__3 about_team_1">
        <div class="container">
            <p>Join us Today</p>
            <h2>Meet our team!</h2>
            <div class="team__members">
                <div class="member">
                    <img src="assets/images/our__team/team-about-1.png" alt="">
                    <h4>Arlene McCoy</h4>
                    <p>President of Sales</p>
                </div>
                <div class="member">
                    <img src="assets/images/our__team/team-about-1.png" alt="">
                    <h4>Arlene McCoy</h4>
                    <p>President of Sales</p>
                </div>
                <div class="member">
                    <img src="assets/images/our__team/team-about-1.png" alt="">
                    <h4>Arlene McCoy</h4>
                    <p>President of Sales</p>
                </div>
                <div class="member">
                    <img src="assets/images/our__team/team-about-1.png" alt="">
                    <h4>Arlene McCoy</h4>
                    <p>President of Sales</p>
                </div>                
            </div>
            <button>Join Our Team</button>
        </div>
    </section>
    <!-- Team section End -->
    <section class="counter_slide">
        <div class="container">
            <div class="count">
                <h3>$36M</h3>
                <p>printing equipment</p>
            </div>
            <div class="count">
                <h3>$36M</h3>
                <p>printing equipment</p>
            </div>
            <div class="count">
                <h3>$36M</h3>
                <p>printing equipment</p>
            </div>
            <div class="count">
                <h3>$36M</h3>
                <p>printing equipment</p>
            </div>
        </div>
    </section>
    <!-- counter_slide section End -->
    <section class="testimonials2" style="background-image: url(assets/images/element/Main.png);">
        <div class="container">
            <button class="blue__btn">Testimonials</button>
            <h2 class="headding">What People Are Saying</h2>
            <div class="slider__tsm">
                <div class="item">
                    <div class="profile">
                        <img src="assets/images/testimonials/avater-testi-2.png" alt="" class="avater">
                        <div class="title">
                            <h4>Dean D. <span> Director</span></h4>
                            <div class="img" style="display: flex;">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <q>Great quality products - Flags,
                        programs for exceptional capacities,
                        birthday, and occasion welcome are
                        largely still mainstream on paper.</q>
                </div>
                <div class="item">
                    <div class="profile">
                        <img src="assets/images/testimonials/avater-testi-2.png" alt="" class="avater">
                        <div class="title">
                            <h4>Dean D.<span>Director</span></h4>
                            <div class="img">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <q>Great quality products - Flags,
                        programs for exceptional capacities,
                        birthday, and occasion welcome are
                        largely still mainstream on paper.</q>
                </div>
                <div class="item">
                    <div class="profile">
                        <img src="assets/images/testimonials/avater-testi-2.png" alt="" class="avater">
                        <div class="title">
                            <h4>Dean D.<span>Director</span></h4>
                            <div class="img">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <q>Great quality products - Flags,
                        programs for exceptional capacities,
                        birthday, and occasion welcome are
                        largely still mainstream on paper.</q>
                </div>
                <div class="item">
                    <div class="profile">
                        <img src="assets/images/testimonials/avater-testi-2.png" alt="" class="avater">
                        <div class="title">
                            <h4>Dean D.<span>Director</span></h4>
                            <div class="img">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <q>Great quality products - Flags,
                        programs for exceptional capacities,
                        birthday, and occasion welcome are
                        largely still mainstream on paper.</q>
                </div>
                <div class="item">
                    <div class="profile">
                        <img src="assets/images/testimonials/avater-testi-2.png" alt="" class="avater">
                        <div class="title">
                            <h4>Dean D.<span>Director</span></h4>
                            <div class="img">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                                <img src="assets/images/element/Icon.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <q>Great quality products - Flags,
                        programs for exceptional capacities,
                        birthday, and occasion welcome are
                        largely still mainstream on paper.</q>
                </div>
            </div>    
        </div>
    </section>
    <!-- Testimonials section End -->
    <section class="vacation__banner" style="background-image: url(assets/images/element/vacation__banner.png);">
        <div class=" container">
            <div class="banner-content">
                <h2 class="h1-headding">Enjoy up your vacations in the best T-shirts</h2>
                <p>T-shirts that keep you moving.</p>
                <div class="">
                    <button class="banner-btn">Shop Now <i class=" fa fa-arrow-right"></i></button>
                    <button class="banner-btn">Contact Us <i class=" fa fa-arrow-right"></i></button>
                </div>
            </div>
            <img class="banner_img" src="assets/images/banner_img/banner-111.png.png" alt="">
        </div>
    </section>
    <!-- Footer section Start -->
    <footer class="footer">
        <div class="container footer-manu">
            <div class="title">
                <h3> Design your next favorite custom shirt </h3>
                <div class="social-icon">
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <div class="get-in-touch">
                <h4 class="h4">Get in touch</h4>
                <p class="footer-list-p">hello@teespace.io</p>
                <h4 class="h4">+02 036 038 3996</h4>
                <p class="footer-list-p" style="width: 226px;">3665 Paseo Place, Suite 0960
                    San Diego</p>
            </div>
            <div class="infomation">
                <h4 class="h4">Infomation</h4>
                <p class="footer-list-p"><a href="about.html">About Us</a></p>
                <p class="footer-list-p">Our Blog</p>
                <p class="footer-list-p">Start a Return</p>
                <p class="footer-list-p">Contact Us</p>
                <p class="footer-list-p">Shipping FAQs</p>
            </div>
            <div class="useful-links">
                <h4 class="h4">Useful Links</h4>
                <p class="footer-list-p">My Account</p>
                <p class="footer-list-p">Shipping</p>
                <p class="footer-list-p">Contact & Support</p>
                <p class="footer-list-p">All Products</p>
            </div>
        </div>
        <div class="container footer-payment-partners">
            <div class="copyrights">
                <p class="footer-list-p">© 2022 TeeSpace</p>
                <p class="footer-list-p">Terms & Conditions  |  Privacy Policy</p>
            </div>
            <div class="payment-partners">
                <img src="assets/images/footer/g-pay.png">
                <img src="assets/images/footer/images.jpeg">
                <img src="assets/images/footer/on-payment-logo.jpg">
                <img src="assets/images/footer/g-pay.png">
                <img src="assets/images/footer/images.jpeg">
                <img src="assets/images/footer/on-payment-logo.jpg">
            </div>
        </div>
        <div class="footer-color-bar"></div>
    </footer>
    <script src="assets/js fils/jquery-3.7.1.min.js"></script>
    <script src="assets/js fils/faq.js"></script>
    <script src="assets/dropify/dropify.js"></script>
    <script src="assets/slick/slick.min.js"></script>
    <script src="assets/js fils/slick-slider.js"></script> 
    <script src="assets/js fils/quantity-plus-minus.js"></script>    
</body>
</html>