<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/main_css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/all.min.css">
    <link rel="stylesheet" href="assets/main_css/dropify.min.css">
    <link rel="stylesheet" href="assets/main_css/responsive.css">
</head>
<body>
    <header class="navbar">
        <nav class="container">
            <div class="logo">
                <picture>
                    <img src="assets/images/logo-black.png.png" alt="logo-black-tee-space">
                </picture>
            </div>
            <input type="checkbox" id="nav_check">
            <label class="menu" for="nav_check"><i class="fa-solid fa-bars"></i><!-- <i class="fa-solid fa-xmark"></i> --></label>            
            <div class="nav_item">
                <ul>
                    <li class="nav-active"><a href="index.html">Home</a></li>
                    <li>TeeSpace
                        <i class="fa-solid fa-chevron-down"></i>
                        <div class="dropdown">
                            <ul>
                                <li><a href="our_team.html">Our Team</a></li>
                                <li><a href="service.html">Services</a></li>
                                <li><a href="about.html">About</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="shop.html">Shop<i class="fa-solid fa-chevron-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li><a href="print.html">Print Your Own </a></li>
                            </ul>
                        </div></li>
                    <li><a href="blog.html"> Blog</a></li>
                    <li>Pages<i class="fa-solid fa-chevron-down"></i>
                        <div class="dropdown">
                            <ul>
                                <li><a href="product_detailes.html">Product Detailes </a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <input class="search" type="checkbox" id="search" name="search"/>
                <label class="for-search" for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                <input class="search_bar" type="text" placeholder="What are you looking for?">                
            </div>
            <div class="button">
                <div class="shop-btn">
                    <button class="bag"><i class="fa-solid fa-bag-shopping"></i></button>
                    <button class="top-btn">0</button>
                </div>
                <div class="hotline">
                    <h4>Hotline:</h4>
                    <h5>00 1900 8188</h5>
                </div>
                <div class="sign-up">
                    <button>Sign Up</button>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header section End -->
    <section>
        <div class="breadcrumb">
            <h2>Blog</h2>
            <p><span style="color: #7E7E7E;">Home </span> <img src="assets/images/element/__before.png" >Blog</p>
        </div>
    </section>
    <!-- Start Codding form here-->
    <div class="filter_bar">
        <div class="container">
            <button class="filter" title="Filter"><i class="fa-solid fa-filter"></i></button>
            <div class="search">
                <input type="text" id="search" placeholder="Search Blogs…">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>
    <section>
        <div class="container product-page">
            <aside>
                <div class="search">
                    <label for="search">Search</label>
                    <input type="text" id="search" placeholder="Search products…">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="product-categories">
                    <h3 class="label-headding">Categories</h3>
                    <ul>
                        <li>Hoodie<span>11</span></li>
                        <li>Kids<span>11</span></li>
                        <li>Long Sleeves<span>11</span></li>
                        <li>Product Designer<span>11</span></li>
                        <li>Long Sleeves<span>11</span></li>
                        <li>T-Shirt<span>11</span></li>
                    </ul>
                </div>
                <div class="latest">
                    <h3 class="label-headding">Latest Posts</h3>
                    <ul>
                        <li>
                            <img src="assets/images/products/product-330x440.png" alt="">
                            <div class="text">
                                <p>Design Services</p>
                                <h4>What make you beautiful
                                    with us</h4>
                            </div>
                        </li>
                        <li>
                            <img src="assets/images/products/product-330x440.png" alt="">
                            <div class="text">
                                <p>Design Services</p>
                                <h4>What make you beautiful
                                    with us</h4>
                            </div>
                        </li>
                        <li>
                            <img src="assets/images/products/product-330x440.png" alt="">
                            <div class="text">
                                <p>Design Services</p>
                                <h4>What make you beautiful
                                    with us</h4>
                            </div>
                        </li>
                        <li>
                            <img src="assets/images/products/product-330x440.png" alt="">
                            <div class="text">
                                <p>Design Services</p>
                                <h4>What make you beautiful
                                    with us</h4>
                            </div>
                        </li>
                        <li>
                            <img src="assets/images/products/product-330x440.png" alt="">
                            <div class="text">
                                <p>Design Services</p>
                                <h4>What make you beautiful
                                    with us</h4>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="ads">
                    <img src="assets/images/gallery/Item.png">
                    <h4>30% off <br><span>Selected Item</span></h4>
                    <button><a href="">Shop Now</a></button>
                </div>                
                <div class="tags">
                    <h3 class="label-headding">Product tags</h3>
                    <ul>
                        <li class="tags1">On sale</li>
                        <li class="tags2">In tags</li>
                        <li class="tags3">Out of tags</li>
                        <li class="tags4">On back order</li>                    
                    </ul>
                </div>    
            </aside>
            <div class="blogs list-of-product">                
                <div class="blog__item">
                    <img src="assets/images/blogs/Article.png" alt="">
                    <div class="tags">
                        <span class="tag">Design Services</span>
                    </div>
                    <h3><i class="fa-regular fa-star"></i>Make yourself happy with our T-shirt customer designer</h3>
                    <p class="date">August 20, 2022 <img src="assets/images/element/__before.png">
                        by <span> admin</span> <span class="sticky"><i class="fa-regular fa-star"></i>Sticky</span></p>
                    <p class="sub_content">Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, idae
                        gravida mi purus sit amet erat. Ut dictum nisi massa.Maecenas id justo
                        rhoncus, volutpat nunc sit amet, facilisiulum scelerisque...</p>
                    <button class="read__more">Read More</button>
                </div>
                <div class="blog__item">
                    <img src="assets/images/blogs/Article.png" alt="">
                    <div class="tags">
                        <span class="tag">Design Services</span>
                        <span class="tag">Print Shop</span>
                    </div>
                    <h3>Make yourself happy with our T-shirt customer designer</h3>
                    <p class="date">August 20, 2022 <img src="assets/images/element/__before.png"> by <span> admin</span></p>
                    <p class="sub_content">Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, idae
                        gravida mi purus sit amet erat. Ut dictum nisi massa.Maecenas id justo
                        rhoncus, volutpat nunc sit amet, facilisiulum scelerisque...</p>
                    <button class="read__more">Read More</button>
                </div>
                <div class="blog__item">
                    <img src="assets/images/blogs/Article.png" alt="">
                    <div class="tags">
                        <span class="tag">Design Services</span>
                    </div>
                    <h3>Make yourself happy with our T-shirt customer designer</h3>
                    <p class="date">August 20, 2022 <img src="assets/images/element/__before.png"> by <span> admin</span></p>
                    <p class="sub_content">Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, idae
                        gravida mi purus sit amet erat. Ut dictum nisi massa.Maecenas id justo
                        rhoncus, volutpat nunc sit amet, facilisiulum scelerisque...</p>
                    <button class="read__more">Read More</button>
                </div>
                <div class="blog__item">
                    <button class="link__btn"><span><i class="fa-solid fa-link fa-fw"></i></span><a href="">HaruTheme</a></button>
                    <p class="date">August 20, 2022 <img src="assets/images/element/__before.png"> by <span> admin</span> </p>
                    <h3>How to make a T-shirt design online</h3>
                    <p class="sub_content">Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, idae
                        gravida mi purus sit amet erat. Ut dictum nisi massa.Maecenas id justo
                        rhoncus, volutpat nunc sit amet, facilisiulum scelerisque...</p>
                    <button class="read__more">Read More</button>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="center">
            <div class="pagination pagination1 pagination3 pagination4 pagination6">
            <a href="#">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
            </div>
        </div>        
    </section>

    <!-- Footer section Start -->
    <footer class="footer">
        <div class="container footer-manu">
            <div class="title">
                <h3> Design your next favorite custom shirt </h3>
                <div class="social-icon">
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <div class="get-in-touch">
                <h4 class="h4">Get in touch</h4>
                <p class="footer-list-p">hello@teespace.io</p>
                <h4 class="h4">+02 036 038 3996</h4>
                <p class="footer-list-p" style="width: 226px;">3665 Paseo Place, Suite 0960
                    San Diego</p>
            </div>
            <div class="infomation">
                <h4 class="h4">Infomation</h4>
                <p class="footer-list-p">About Us</p>
                <p class="footer-list-p">Our Blog</p>
                <p class="footer-list-p">Start a Return</p>
                <p class="footer-list-p">Contact Us</p>
                <p class="footer-list-p">Shipping FAQs</p>
            </div>
            <div class="useful-links">
                <h4 class="h4">Useful Links</h4>
                <p class="footer-list-p">My Account</p>
                <p class="footer-list-p">Shipping</p>
                <p class="footer-list-p">Contact & Support</p>
                <p class="footer-list-p">All Products</p>
            </div>
        </div>
        <div class="container footer-payment-partners">
            <div class="copyrights">
                <p class="footer-list-p">© 2022 TeeSpace</p>
                <p class="footer-list-p">Terms & Conditions  |  Privacy Policy</p>
            </div>
            <div class="payment-partners">
                <img src="assets/images/footer/g-pay.png">
                <img src="assets/images/footer/images.jpeg">
                <img src="assets/images/footer/on-payment-logo.jpg">
                <img src="assets/images/footer/g-pay.png">
                <img src="assets/images/footer/images.jpeg">
                <img src="assets/images/footer/on-payment-logo.jpg">
            </div>
        </div>
        <div class="footer-color-bar"></div>
    </footer>
    <script>        
        let aside = document.querySelector('.product-page > aside');
        let button = document.querySelector('.filter');
        button.addEventListener('click' , function(){
            aside.classList.toggle('aside__active');            
        })
    </script> 
</body>
</html>